#main {
    padding-top: 78px;
  }
@media (min-width: 992px) {
    #main {
      padding-top: 104px;
    }
}


.hs-bg-primary {
  background-color: #E4B154;
}

.has-bg-lilac-pop-80{
  background-color: #d4e279;
  height: 200px;
}
@media (min-width: 992px) {
    .has-bg-lilac-pop-80 {
      height: 200px;
  }
}


.panorama-miasta{
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: 100% 100%;
  background-color: inherit;
}

.row-top-buffer { 
  margin-top:20px; 
}

.content-center {
  justify-content: center;
}

.link-city{
  color: whitesmoke;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #E4B154;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #FFC159;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  color: #fff;
  background: #E4B154;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
  color: #fff;
  background: #FFC159;
}

