#mapka{
  height: 500px;
}
@media screen and (max-width: 768px) {
  #mapka{
    height: 400px;
  }
}

#mapka_ff{
  height: 80vh;
}
@media screen and (max-width: 768px) {
  #mapka_ff{
    height: 600px;
  }
}

#main {
    padding-top: 78px;
  }
@media (min-width: 992px) {
    #main {
      padding-top: 104px;
    }
}

.hs-bg-primary {
  background-color: #E4B154;
}

.has-bg-lilac-pop-200{
  background-color: #d4e279;
  height: 200px;
}

.has-bg-lilac-pop-200:hover{
  scale: 1.05;
}

@media (min-width: 992px) {
    .has-bg-lilac-pop-200 {
      height: 19vh;
  }
}

.has-bg-lilac-pop-400{
  background-color: #d4e279;
  height: 400px;
}

@media (min-width: 992px) {
    .has-bg-lilac-pop-400 {
      height: 400px;
  }
}

.has-bg-lilac-pop-600{
  background-color: #d4e279;
  height: 600px;
}

.has-bg-lilac-pop-600:hover{
  scale: 1.05;
}

.adjusted-height{
  height: 86vh;
}

.panorama-miasta{
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: 100% 100%;
  background-color: inherit;
}

.choice-service{
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: 100% 100%;
}

.row-top-buffer { 
  margin-top:20px; 
}

.content-center {
  justify-content: center;
}

.content-center-c{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.link-city{
  color: whitesmoke;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-border{
  -webkit-text-stroke: 1px rgb(58, 57, 57, 0.75)
}

#content-desktop{
  display: block;
}
#content-mobile{
  display: none;
}

@media screen and (max-width: 768px) {
    #content-desktop{
      display: none;
    }
    #content-mobile{
      display: block;
    }
  }

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #E4B154;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #FFC159;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  color: #fff;
  background: #E4B154;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
  color: #fff;
  background: #FFC159;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.sliderValue{
  position: relative;
  width: 100%;
}

.field{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.field .value{
  position: absolute;
  font-size: 18px;
  color: #2600ff;
  font-weight: 600;
}

.field .value.left{
  left: -22px;
}
.field .value.right{
  right: -43px;
}

.range input{
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2;
}
.range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #2600ff;
  border: 1px solid #2600ff;
  cursor: pointer;
}
.range input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #2600ff;
  border: 1px solid #2600ff;
  cursor: pointer;
}
.range input::-moz-range-progress{
  background: #402fa0;
  height: 9px;
  z-index: -1;
}
