{% extends "home/base.html" %}
{% block content %}

    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""
    ></script>
    <style>
      #mapka {
        height: 500px;
      }
    </style>

    <h1>RealityWeb Start Page</h1>
    <p> choose wisely </p>
    <div><h1>Here comes my folium map:</h1></div>

    <div id="mapka">mapka</div>
    <p>
      latitude: <span id="id_lat"></span>°<br />
      longitude: <span id="id_lon"></span>°
    </p>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Dane do mapy</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="sumbit"> Submit </button>
            </div>
        </form>
    </div>

    <script language="javascript">
            const mymap = L.map('mapka').setView([0, 0], 6);
            const attribution =
                '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

            const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            const tiles = L.tileLayer(tileUrl, { attribution });
            tiles.addTo(mymap);


            var DomIcon = L.Icon.extend({
                                options: {
                                   iconSize:     [30, 50],
                                   iconAnchor:   [15, 50],
                                   popupAnchor: [0, -50],
                                }
                            });
            var domekIcon = new DomIcon({
                iconUrl: 'static/images/domek.png'
            });

            mymap.setView([52.237, 21.017], 11);

            var marker  = null;

            mymap.on("contextmenu", async function (e) {
                if (marker !== null) {
                    mymap.removeLayer( marker );
                }
                marker = L.marker(e.latlng).setIcon(domekIcon).addTo( mymap );
                marker.on('dblclick', function(e){ mymap.removeLayer(e.target)})
                var lat = e.latlng.lat.toFixed(4),
                    lng = e.latlng.lng.toFixed(4);
                console.log('LAT:' + lat + ' LON: ' + lng );

                document.getElementById('id_lat').textContent = e.latlng.lat.toFixed(4);
                document.getElementById('id_lon').textContent = e.latlng.lng.toFixed(4);
                document.getElementById( '{{ form.lat.id_for_label }}' ).value = e.latlng.lat.toFixed(4);
                document.getElementById( '{{ form.lon.id_for_label }}' ).value = e.latlng.lng.toFixed(4);
                var a = document.getElementById( '{{ form.lat.id_for_label }}' ).value;
                var b = document.getElementById( '{{ form.lon.id_for_label }}' ).value;
                console.log('LAT:' + lat + ' LON: ' + lng + ' ' + a + ' ' + b );
            });
        </script>

{% endblock content %}
