{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""
    ></script>
    <style>
      #mapka {
        height: 500px;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <h1>RealityWeb Start Page</h1>
    <p> choose wisely </p>
    <div><h1>Here comes my folium map:</h1></div>

    <div id="mapka">mapka</div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Dane do mapy</legend>
                {{ form | crispy }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="sumbit"> Get the price </button>
            </div>
        </form>
    </div>


    <p>
      latitude: <span id="idd_lat"></span>°<br />
      longitude: <span id="idd_lon"></span>°
    </p>

<script language="javascript" >
    const mymap = L.map('mapka').setView([0, 0], 6);
    const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    const tiles = L.tileLayer(tileUrl, { attribution });
    tiles.addTo(mymap);


    var DomIcon = L.Icon.extend({
                        options: {
                           iconSize:     [30, 50],
                           iconAnchor:   [15, 50],
                           popupAnchor: [0, -50],
                        }
                    });
    var domekIcon = new DomIcon({
        iconUrl: 'static/images/domek.png'
    });

    mymap.setView([52.237, 21.017], 11);

    var marker  = null;

    mymap.on("click", async function (e) {
        if (marker !== null) {
            mymap.removeLayer( marker );
        }
        marker = L.marker(e.latlng).setIcon(domekIcon).addTo( mymap );
        marker.on('dblclick', function(e){ mymap.removeLayer(e.target)})
        var lat = e.latlng.lat.toFixed(4),
            lng = e.latlng.lng.toFixed(4);

        document.getElementById('idd_lat').textContent = lat;
        document.getElementById('idd_lon').textContent = lng;
        document.getElementById( '{{ form.lat.id_for_label }}' ).value = lat;
        document.getElementById( '{{ form.lon.id_for_label }}' ).value = lng;

        var csrftokenek = Cookies.get('csrftoken');
        document.getElementById( '{{ form.tagi.id_for_label }}' ).value = csrftokenek;
    });
</script>
{% endblock content %}

